
 /* Title: Style Sheet
  Use: Provide a uniform style for all of my different web pages on the website.
  Author: Zion Black
  School: University of Missouri
  Developed Feb 24. 2025
  Tested: Feb 24, 2025
*/

*{
  background-color: #1a91e0;
}

header{
  padding-top: 50px;
  align-items: center;
  background-color: #1a91e0;
}

nav {
  background-size: cover;
  background-position: center;
  padding: 5% 0;
}


h1{
  color:#ffffff;
  font-size: 5vw;
}  

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
}
br{
  padding-top: 20px;
}

footer{
  text-align: center;
  color: #ffffff;
}




/* INDEX STYLING */


.hero-section{
background-color: #1a91e0;
padding:0 60px;
color:#ffffff
}

.hero-wrapper{
  display: grid;
  grid-gap: lem;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
  "column-left column-right"

}
.column-left{
  display:flex;
  flex-direction: column ;
  justify-content: space-evenly;
  align-items: flex-start;
  max-height: fit-content;
}

.column-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;

}
.hero-img{
  width:35vw ;
  height: 50vw ;
}




@media screen and (max-width: 680px) {
  

  .header{
    width:100%;
    display: block;
    }


  .hero-wrapper{
    display: grid;
  grid-gap: lem;
  grid-template-columns:1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "column-left"
  "column-right"

  }
  
  .column-left{
    align-items: center;
  }

  .hero-img{
    height: 50vw;
    width: 70vw;

  }


}
@media screen and (max-width: 320px) {
  .hero-section{
    width: 320px;
  }
}


/* INDEX STYLING */


/* ABOUT STYLING */

.print-about-section{
  display: none;
}

.reflection-wrapper{
  padding-left: 20px;
  padding-right: 10px;
  display: grid;
  grid-gap: lem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "about-subhead"
  "about-paragraph"
  "about-quote"
  "resume"
}

.about-paragraph{
  padding-left: 20px;
  padding-right: 10px;
  display:flex;
  flex-direction: column ;
  justify-content: space-evenly;
  align-items: flex-start;
  max-height: fit-content;
}


/* About Print Styles */

@media print{

  @page {
    size: auto;
    margin: 1in;
  }

  .print-about-section{
    display: initial;
  }

  .about-section, nav{
    display: none;
  }

  h1,p{
    color: black;
  }
}

/* ABOUT STYLING */


 /* REFLECTION STYLING */

.reflection-wrapper{
  padding-left: 20px;
  padding-right: 10px;
  display: grid;
  grid-gap: lem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "relection-par1"
  "relection-par2"
  "relection-par3"
  "relection-par4"
}

  /* REFLECTION STYLING */


